# Datastructures

## The builtins data structures are: lists, tuples, sets and dictionaries

* Lists, tuples are ordered sequences of objects. (like strings)
* Set and dictionaries are uordered.
* List, tuples and set can contain any type of objects. 
* Lists and tuples are like arrays. 
* Tuples are immutables whereas lists are mutables so they can be extended or reduced at will. 
* Sets are mutable unordered sequence of unique elements whereas frozensets are immutable sets.

# LIST

You can define an empty list by using two enclosing square brackets `[]`. Just like array in other programming language. Or you can use `list()` method without any arguments and assign it to a variable.

In [ ]:
# defining a empty list

my_list_1 = []
my_list_2 = list()

print(len(my_list_1), len(my_list_2), type(my_list_1), sep=" | ")

In [ ]:
l = list()
l.append(123)
print(l)

List is like an array but unlike other programming languages, list can contain any type of objects.

In [ ]:
any_obj_list = ["Hello", 1, True, [5.0, 5/2], None]
print(any_obj_list)

In [ ]:
# This is a list of Strings
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp)

In [ ]:
# len() gives how many values are there inside a list
print(len(comp))

In [ ]:
# Accessing by index
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp[len(comp)-1])

In [ ]:
# Last value is accessed by -1
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp[-1])
print(comp[-5])

In [ ]:
# IndexError exception while trying to access index that doesn't exist
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp[20])

## Slicing

In [ ]:
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp[0:2])
print(comp[:])
print(comp[:2])
print(comp[2:])

In [ ]:
# Slicing can be done in string as well because string is also squence of characters.
a = "Hello"
a[0:3]

In [ ]:
# Let's look at all the possible slicing and pay high attention to the output
a = list(range(10))
print(a)
print(a[2])
print(a[-2])
print(a[2:])
print(a[:2])
print(a[2:6])
print(a[2:-2])
print(a[-6:-2])
print(a[:])
print(a[::2])
print(a[2::2])
print(a[:6:2])
print(a[2:6:2])
print(a[::-2])
print(a[::-1])

# List methods
Everyting in Python is an object and List is also definately an object. Hence, in OOP concept, object are likely to have a methods (behaviour)

In [ ]:
a = []
type(a)

In [ ]:
# index(arg) method is used to find the index of an element in the list
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp.index("NM"))

# Throws ValueError if not in list
print(comp.index("XYZ"))

In [ ]:
"""
append(arg) method is used to add element in the list. 
While adding a new element using append method, the newly 
added element is added at the end of the list.
Adding an element in a list
""" 
print(comp)
comp.append("Python")
comp.append("English")
print(comp)

In [ ]:
"""
insert() method is used to insert an element in a particular index of the list.
"""
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp)

comp.insert(20, "Python") # even if you add element in larger index, it'll always be added at the end the list
comp.insert(0, "English") 

print(comp)
print(comp.index("Python"))

In [1]:
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
extra = ["Python", "English"]
comp.append(extra) # wrong implementation because it'll just add the whole list at the end of the comp list
print(comp)

['OOP', 'CSA', 'NM', 'MGMT', 'OS', ['Python', 'English']]

In [ ]:
"""
If you want to merge two list together, you can use extend() method.
"""
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
extra = ["Python", "English"]
comp.extend(extra)
print(comp)

x = [1,2,3]
y = ["a", "b"]
print(x)
x.extend(y)
print(x)

In [ ]:
"""
extending a list by using extend method can also be done via the "+" operator.
"""
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
extra = ["Python", "English"]
comp += extra
print(comp)

In [ ]:
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
comp.remove("OOP")
print(comp)
print(comp.index("CSA"))


## List as a Stack

In [ ]:
"""
List data structure can be used to simulate the stack data structure.
For this, to extract the topmost element in the list, you can use pop() method.
pop() method always returns last value in the list like in stack.
Note: pop() method manipulates the list.
"""
comp = ["OOP", "CSA", "NM", "MGMT", "OS", "XYZ"]
popped = comp.pop(1)
print("Popped : ", popped)
print(comp)
# comp.push() -> comp.append(value)

## Other important methods

In [ ]:
x = [5, 6, 1, 4, 0, 9]
x.sort(reverse=True) # ascending
print(x)

print("==============")

comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
comp.sort()
print(comp)

y = [1, 2, 3, "a", "b"]
y.sort()

In [ ]:
x = [5, 6, 1, 4, 0, 9]
x.sort(reverse=True) # descending
print(x)

In [ ]:
# Reversing a list
x = [5, 6, 1, 4, 0, 9]
x.reverse()
print(x)

In [ ]:
x = [5, 6, 1, 4, 0, 9]
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
sorted_x = sorted(x, reverse=True)
sorted_comp = sorted(comp)
print(sorted_x)
print(sorted_comp)

## Operations

In [ ]:
x = [5.3, 6, 1, 4, 0, 9]
print("SUM: ", sum(x))
print("MAX: ", max(x))
print("MIN: ", min(x))

In [2]:
print(max("Hello world"))

w

In [3]:
# Check whether an element is in the list or not
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print("OOP" in comp)
print("XYZ" in comp)

True
False

## Looping over a List

In [5]:
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
for sub in comp:
    print(sub)

OOP
CSA
NM
MGMT
OS

In [6]:
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
for index, sub in enumerate(comp):
    print(index, sub)

(0, 'OOP')
(1, 'CSA')
(2, 'NM')
(3, 'MGMT')
(4, 'OS')

In [7]:
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
for index, sub in enumerate(comp, start=100):
    print(index, sub)

(100, 'OOP')
(101, 'CSA')
(102, 'NM')
(103, 'MGMT')
(104, 'OS')

## Joining elements in a list

In [8]:
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print("= ".join(comp))

OOP= CSA= NM= MGMT= OS

In [9]:
# You can olny join list of Strings
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
joined = "--".join(comp)
print(joined)
list_from_join = joined.split("--")
print(list_from_join)

OOP--CSA--NM--MGMT--OS
['OOP', 'CSA', 'NM', 'MGMT', 'OS']

In [10]:
x = "a+b+c+d"
list_plus = x.split("+")
print(list_plus)

['a', 'b', 'c', 'd']

## Lists are mutable

In [11]:
comp = ["OOP", "CSA", "NM", "MGMT", "OS"]
print(comp)
comp[0] = "Python"
print(comp)

['OOP', 'CSA', 'NM', 'MGMT', 'OS']
['Python', 'CSA', 'NM', 'MGMT', 'OS']

In [ ]:
list_1 = ["a", 1, True]
list_2 = list_1
print(list_1)
print(list_2)

print("\n")

list_1[0] = "b"
print(list_1)
print(list_2)

print("\n")
print(list_1 is list_2)

## Multidimension List

In [12]:
n_list = [
            [1,2,3],
            [4,5,6]
         ]
print(n_list)

[[1, 2, 3], [4, 5, 6]]

## How many?

In [13]:
x = [1,2,4,5,0,2,3,4,6,7,8,5,6,7,8,8,8,2]
print(x.count(-1))

0

In [14]:
l = [1, 2, 3]
l*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

# Tuple

Tuple is very similar to the list data structure but, tuples are immutable. [Can't be changed]

In [ ]:
# Empty tuple
tup = ()
tup = tuple()

print(tup)
print(len(tup))
print(type(tup))

In [ ]:
tup = (1, 2, 3, 4)
print(tup)

In [15]:
no_paran_tup = 1, 2, 3, 4
print(no_paran_tup)

(1, 2, 3, 4)

In [ ]:
tup = (1, 2, 3, 4)
print(tup[5]) # Just like List, index out ot bound expection is thrown if tried to access index that is out of bound

In [16]:
# Just like list, tuple is iterable and you can loop over it
tup = (1, 2, 3, 4)
for each in tup:
    print(each)

1
2
3
4

In [17]:
tup = ("Ram", "Sita", "Gopal", "Hari")
for idx, each in enumerate(tup, start=100):
    print(idx, each)

(100, 'Ram')
(101, 'Sita')
(102, 'Gopal')
(103, 'Hari')

In [18]:
tup = ("Ram", "Sita", "Gopal", "Hari")
tup[0] = "Shyam" # Throws exception because tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [21]:
tup = ("a", )
print(type(tup))
print(len(tup))

<type 'tuple'>
1

In [22]:
tup = (1,) #without comma, one value is treated as a native data type
print(type(tup))

<type 'tuple'>

In [23]:
tup = (1, 2, 3)
print(tup)
tup = tup + (4,)
print(tup)

(1, 2, 3)
(1, 2, 3, 4)

In [24]:
tup = (1, 2)
print(tup*6)
print(tup)

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2)
(1, 2)

In [25]:
tup_1 = ("a", "b")
tup = (1, )
merged = tup_1+tup
print(merged)

('a', 'b', 1)

In [27]:
tup = (1, 2, 4, 1, 3, 2, 5, 2, 4)
print(tup.count(2))
print(tup.index(2))
print(8 in tup)
print(31 not in tup)

3
1
False
True

## Value unpacking

In [29]:
x, y, z = (1, 2, (3, 4))
print(type(z))
print(y)
print(z)

<type 'tuple'>
2
(3, 4)

In [30]:
x, y, z = range(3)
print(x)
print(y)
print(z)

0
1
2

In [ ]:
# This results in error because 4 values are being unpacked to 3 variables
x, y, z = range(4)

In [31]:
# Swapping two values
a = 3
b = 5
print("a = {}, b = {}".format(a, b))
a, b = (b, a)
print("\nAfter swapping")
print("a = {}, b = {}".format(a, b))

a = 3, b = 5

After swapping
a = 5, b = 3

## Type conversion

In [32]:
a = (1, 2, 3)
str_a = str(a)
print(str_a)
print(type(str_a))

(1, 2, 3)
<type 'str'>

In [ ]:
a = (1, 2, 3)
list_a = list(a)
print(list_a)
print(type(list_a))

# Sets

In [33]:
s = {1, 2, 3}
print(s)
print(type(s))
s = set()
print(s)
print(type(s))
print(len(s))

set([1, 2, 3])
<type 'set'>
set([])
<type 'set'>
0

In [ ]:
s = {} # we don't initialize set like this
print(type(s))

In [ ]:
s = {"Hello", 1, 1.5, ("OK", None), "Hello"}
s

In [ ]:
s = {1, 2, 3, 4, 3}
print(s)

In [ ]:
s = {"Hello", 1, 1.5, ("OK", None)}
s.update(("Helloo", 2))
print(s)
print(type(s))
print(len(s))

In [34]:
comp = {"OOP", "CSA", "NM", "MGMT", "OS"}
print(comp)
comp_one = {"OOP", "CSA", "NM", "MGMT", "OS", "OOP"}
print(comp_one) # since set can contain only unique elements

set(['OS', 'MGMT', 'CSA', 'OOP', 'NM'])
set(['OS', 'MGMT', 'CSA', 'OOP', 'NM'])

## Set methods

In [ ]:
set_one = {"a", "e", "i", "o", "u"}
set_two = {"a", "b", "c", "d", "e", "f", "g"}

print(set_one.intersection(set_two))
print(set_one.difference(set_two))
print(set_one.union(set_two))

In [35]:
set_one = {"a", "e", "i", "o", "u"}
set_sub = {"a", "e"}
print(set_one.issuperset(set_sub))
print(set_sub.issubset(set_one))

True
True

In [36]:
set_one = {"a", "e", "i", "o", "u"}
set_sub = {"a", "e"}
set_one.clear()
print(set_one)

set([])

In [37]:
str1 = "Hello my name is Ram"
str2 = "Ram is my name"

str1_lst = str1.split(" ")
str2_lst = str2.split(" ")

str1_set = set(str1_lst)
str2_set = set(str2_lst)

print(str1_set.intersection(str2_set))
print(str2_set.issubset(str1_set))

set(['is', 'Ram', 'my', 'name'])
True